.addPost {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.addPost h3 {
	min-width: 100px;
}
.addPost input {
	outline: none;
	padding: 3px;
}
.addPost form {
	display: flex;
	justify-content: center;
	align-items: center;
}
.addPost input {
	height: 20px;
	padding: 5px 15px;
	border: 1px solid white; 
	width: 100%;
}
.addPost .button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px;
	background-color: black;
	color: white;
	cursor: pointer;
	border: 1px solid white; 
	border-radius: 5px;
	transition: 0.3s;
	margin-left: 10px;
}
.addPost .button:hover {
	background-color: white;
	color: black;
}