.form {
	outline: none;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form textarea {
	outline: none;
}

.form .button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px 15px;
	background-color: black;
	color: white;
	cursor: pointer;
	border: 1px solid white; 
	border-radius: 5px;
	transition: 0.3s;
	margin-left: 10px;
}
.form .button:hover {
	background-color: white;
	color: black;
}