.nav {
  grid-area: nav;
  background-color: #61dafb;
  border-radius: 5px;
}
.nav ul {
  list-style-type: none;
  text-align: left;
  padding-left: 7px;
}
.nav a {
  color: #64727f;
  font-size: 18px;
  padding: 4px 10px;
  text-decoration: none;
}
.nav a.active {
  color: #282c34;
}