.post {
  color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.like {
  width: 50px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.like img {
  max-height: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.1s;
}
.like img:hover {
  max-height: 110%;
  height: 110%;
}