.dialogsWrapper {
  background-color: #61dafb;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}
.dialogList {
  min-width: 200px;
}
.dialogItem {
  padding: 10px;
  color: #282c34;
}
.message {
  color: #282c34;
}